/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the full viewport height is used */
}

/* Login Component Styles */
.login-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgb(247, 118, 118);
  width: 500px;
  height: 380px;
}

.heading {
  color: #0056b3;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bolder;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px auto;
  padding: 20px;
  gap: 20px;
}

.login-input {
  margin-bottom: 10px;
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-label {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
  display: block; /* Ensures label is on its own line above the input */
}

.login-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-error {
  color: red;
  margin-top: 10px;
}

/* Dashboard Component Styles */
.dashboard-container {
  text-align: center;
}